<div class="container">
  <h1> Sign Up Form</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/customers/signup" method="post">
          <div class="form-group">
              <input type="text" name="firstname" class="form-control" placeholder="First Name" />
          </div>
          <div class="form-group">
              <input type="text" name="lastname" class="form-control" placeholder="Last Name" />
          </div>
          <div class="form-group">
              <input type="text" name="address" class="form-control" placeholder="Address" />
          </div>
          <div class="form-group">
              <input type="number" name="number" class="form-control" placeholder="Number" />
          </div>
          <div class="form-group">
              <input type="email" name="email" class="form-control" placeholder="Email" />
          </div>
          <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Sign Up</button>
          </div>
      </form>
    </div>
  </div>
</div>